:root{
    --primary-color: #7D7DE7;
    --border-radius: 1em;
}

/*
*
* Estilos globales
*
*/

.text-center{
    text-align: center;
}

a{
    color: var(--primary-color);
}

.img-responsive{
    max-width: 100%;
    height: auto;
}

.full-height{
    min-height: 100vh;
}

.primary-deb-button{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: var(--border-radius);
    width: 100%;
}